* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: #fff;
}
.containerTitle {
  font-size: 50px;
  padding: 25px 0;
  color: #000;
}

.tabs {
  display: flex;
  justify-content: center;
}
.tabs > div{
  flex: 0 1 50%;
  padding: 10px;
  background: #000;
}
.tabs .active{
  border-bottom: 2px solid blue;
}